nav.navbar.navbar-light.bg-light.custom-navbar {
    background-color: #0b425d !important;
    color: white !important;
}

.navbar-brand{
    color: #fff;
    font-size: 24px;
}

.logout:hover{
    cursor: pointer;
    font-weight: bold;
}